<div class="flex justify-center items-center h-screen">
  <div class="text-center max-w-md w-full">
    <h1 class="text-3xl m-5 mb-10"><%= t(".login") %></h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-5">
        <%= f.label :email, class: "block text-left mb-1 text-sm" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-3 border border-gray-300 rounded" %>
      </div>

      <div class="mb-5">
        <%= f.label :password, class: "block text-left mb-1 text-sm" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full p-3 border border-gray-300 rounded" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-5">
          <%= f.check_box :remember_me, class: "mr-2" %>
          <%= f.label :remember_me, class: "text-sm" %>
        </div>
      <% end %>

      <div class="mb-10">
        <%= f.submit t(".login") , class: "btn btn-active btn-primary w-full" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
